.logo {
  margin-left: 80px;
  margin-top: 15px;
  display: inline-block;
  vertical-align: middle;
}

.digimon {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.navigation {
  float: right;
  text-align: center;
  list-style: none;
  margin-right: 80px
}

li {
  display: inline-block;
  margin: 25px 10px;
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/');
}